@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

.logo {
  width: 80%;
  max-width: 80px;
  height: auto;
}

.navbar-toggler {
  background-color: #d7e0ef;
}

.navbar-brand {
  margin-right:0;
}

.navbar-light .navbar-nav .nav-link {
  color: #034f84;
  font-family: Impact, Charcoal, sans-serif;
  font-size: 20px;
  letter-spacing:2px;
  
}

.header {
  background-image: linear-gradient(to right bottom, rgba(150, 100, 150, 0.6), rgba(120, 100, 96, 0.6)), url(../images/crokepark.jpg);
  background-position: center center;
  background-size: cover;
  height: 90vh; 
}

.heading-primary-main {
  display: block;
  font-size: 60px;
  font-weight: 300;
  letter-spacing: 2px;
  margin-top: 12px;
  color: #d7e0ef;
  font-family: Impact, Charcoal, sans-serif;
}

.heading-primary-sub {
  display: block;
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 1.5px;
  margin-left: -1.5px;
  color: #d7e0ef;
  font-family: Impact, Charcoal, sans-serif;
  padding-top: 20px;
  padding-bottom: 20px;
}

.text-box {
  position: absolute;
  top: 40%;
  left:50%;
  text-align: center;
  transform: translate(-50%, -50%);
}

/**Button**/

.btn {
  border-radius: 10rem;
  display: inline-block;
  font-size: 1.5rem;
  padding: 1rem 4rem;
  text-decoration: none;
  text-transform: uppercase;
  font-family: Impact, Charcoal, sans-serif;
}

.btn:hover {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn-white {
  background-color: #d7e0ef;
  color: #777;
}

.fixtures-section{
  background-color:#d7e0ef;
  text-align:center;
}

.fixtures-heading {
  font-size: 80px;
  font-weight: 200;
  letter-spacing: 2px;
  color: #034f84;
  font-family: Impact, Charcoal, sans-serif;
  padding-top: 20px;
  padding-bottom: 20px;
  margin:0;
}

.fixtures-list .match-item {
  background-color: white;
  list-style-type: none;
  padding-top: 20px;
  padding-bottom:20px;
}

.fixtures-list .match-item .roundname {
  padding-left: 20px;
  font-weight: bold;
  font-size: 20px;
}

.fixtures-list .match-item .hometeam {
  padding-left: 30px;
  padding-right:5px;
  font-size: 20px;
}

.fixtures-list .match-item .time {
  padding-left:5px;
  padding-right:5px;
  font-weight: bold;
  color: green;
  font-size: 20px
}

.fixtures-list .match-item .awayteam {
  padding-right: 30px;
  padding-left: 5px;
  font-size: 20px
}

.fixtures-list .match-item .venue {
  padding-right: 20px;
  padding-left: 0;
  font-weight: bold;
  font-size: 20px
}

.crest-image{
  height: 25px;
  width:25px;
}