@import url('https://fonts.googleapis.com/css?family=Impact:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/*--------------------------------------------logo*/


.logo {
  width: 80%;
  max-width: 80px;
  height: auto;
}


/*--------------------------------------------nav*/


.navbar-toggler {
  background-color: #d7e0ef;
}
.navbar-brand {
  margin-right:0;
}
.navbar-light .navbar-nav .nav-link  {
  color: #fff;
  font-family: Impact, Charcoal, sans-serif;
  font-size: 30px;
  letter-spacing:2.5px;
}


/*--------------------------------------------header*/


.header {
  background-image: linear-gradient(to right bottom, rgba(150, 100, 150, 0.6), rgba(120, 100, 96, 0.6)), url(../images/crokepark.jpg);
  background-position: center center;
  background-size: cover;
  height: 90vh; 
}
.heading-primary-main {
  display: block;
  font-size: 60px;
  font-weight: 300;
  letter-spacing: 2px;
  margin-top: 12px;
  color: #d7e0ef;
  font-family: Impact, Charcoal, sans-serif;
}
.heading-primary-sub {
  display: block;
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 1.5px;
  margin-left: -1.5px;
  color: #d7e0ef;
  font-family: Impact, Charcoal, sans-serif;
  padding-top: 20px;
  padding-bottom: 20px;
}

.heading-venue{
   display: block;
  font-size: 30px;
  color: #d7e0ef;
  font-family: sans-serif;
  padding-top: 10px;
  padding-bottom: 20px;
}

.text-box {
  position: absolute;
  top: 48%;
  left:50%;
  text-align: center;
  transform: translate(-50%, -50%);
}


/*--------------------------------------------fixtures section*/


.fixtures-section{
  background-color:#d7e0ef;
  text-align:center;
}
.fixtures-heading {
  font-weight: 200;
  letter-spacing: 2px;
  color: #034f84;
  font-family: Impact, Charcoal, sans-serif;
  padding-top: 20px;
  padding-bottom: 20px;
  margin:0;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 10px 0px 0px 0px;
}
.fixtures-list .match-item {
  background-color: white;
  list-style-type: none;
  padding-top: 20px;
  padding-bottom:20px;
}
.fixtures-list .match-item .roundname {
  padding-left: 15px;
  font-weight: bold;
  font-size: 20px;
  float: left;
}
.fixtures-list .match-item .hometeam {
  padding-left:10px;
  padding-right:5px;
  font-size: 20px;
}
.fixtures-list .match-item .time {
  padding-left:5px;
  padding-right:5px;
  font-weight: bold;
  color: green;
  font-size: 20px;
}
.fixtures-list .match-item .awayteam {
  padding-right: 10px;
  padding-left: 5px;
  font-size: 20px
}
.fixtures-list .match-item .venue {
  padding-right: 15px;
  padding-left: 0;
  font-weight: bold;
  font-size: 20px;
  float:right;
}
.crest-image{
  height: 30px;
  width:30px;
}
#venue-text{
  font-weight: bold;
  padding-top: 0px;
  padding-bottom: 5px;
}


/*--------------------------------------------Map*/


div#map {
    min-height: 450px;
}
.map-section{
  background-color: #d7e0ef;
}


/*--------------------------------------------footer*/


.footer-social{
  text-align: center;
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #d7e0ef;
}
.social-links {
    padding-bottom: 15px;
}
.social-links li a i {
    width: 60px;
    height: 60px;
    padding: 22px 0;
    border-radius: 20%;
    font-size: 28px;
    line-height: 12px;
    text-align: center; 
    background: #fff;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}
#facebook{
    color: #4267b2;
}
#instagram{
    color: #bc2a8d;
}
#twitter{
    color: #00aced;
}
.social-links li a i:hover {
    background: #CCC8BC;
}

.jumbotron{
  margin-bottom: 0rem;
  text-align:center;
}

.look-here {
  visibility: hidden;
}


/*--------------------------------------------button*/


.btn {
  border-radius: 10rem;
  display: inline-block;
  font-size: 1.5rem;
  padding: 1rem 4rem;
  text-decoration: none;
  text-transform: uppercase;
  font-family: Impact, Charcoal, sans-serif;
}
.btn:hover {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
.btn-white {
  background-color: #d7e0ef;
  color: #777;
}


/*--------------------------------------------media queries*/


@media (max-width: 768px) {
  .roundname {
    display: none;
  }
  .venue {
    display: none;
  }
  
}
@media (min-width: 769px) {
  .venue-lg {
    display: none;
  }
}
@media (max-width: 990px) {
  .nav-link {
    text-align: center;
    background: #d7e0ef;
    border-radius: 10px 10px 10px 10px;
  }
}
